<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>
<script type="text/javascript" src="/js/directives.js"></script>
<script type="text/javascript" src="/js/filters.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/articles.js"></script>
<script type="text/javascript" src="/js/services/filterHelper.js"></script>
<script type="text/javascript" src="/js/services/offers.js"></script>
<script type="text/javascript" src="/js/services/offerBuilder.js"></script>
<script type="text/javascript" src="/js/services/data.js"></script>
<script type="text/javascript" src="/js/services/pageDetail.js"></script>
<script type="text/javascript" src="/js/services/urlHelper.js"></script>
<script type="text/javascript" src="/js/services/users.js"></script>

<!-- Application Directives -->
<script type="text/javascript" src="/js/directives/slider.js"></script>	
<script type="text/javascript" src="/js/directives/filter.js"></script>
<script type="text/javascript" src="/js/directives/offer.js"></script>
<script type="text/javascript" src="/js/directives/emailWidget.js"></script>
<script type="text/javascript" src="/js/directives/facebookPlugin.js"></script>
<script type="text/javascript" src="/js/directives/twitterPlugin.js"></script>


<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/articles.js"></script>
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/controllers/filter.js"></script>
<script type="text/javascript" src="/js/controllers/offers.js"></script>
<script type="text/javascript" src="/js/controllers/about.js"></script>
<script type="text/javascript" src="/js/controllers/fashion.js"></script>
<script type="text/javascript" src="/js/init.js"></script>

<!-- Header -->
<script src='/lib/jquery/dist/jquery.min.js'></script>
<script src='/lib/bootstrap/js/collapse.js'></script>