<head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{title}}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="">
    <link href="/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="Offercrunch">
    <meta property="fb:admins" content="APP_ADMIN">
    <meta name="google-site-verification" content="Uq3EpggHjBzKg4aWFPSCjAe6cV7nwntb_v5G1iVE7WA" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-responsive.css"> -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/slider.css">
    <link rel="stylesheet" href="/css/filter.css">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/views/offers.css">
    <link rel="stylesheet" href="/css/views/articles.css">
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- analytics -->
    <script type="text/javascript" src="/js/analytics.js"></script>
    <!--[if lt IE 9]><link rel="stylesheet" href="/css/ie.css"/><![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
