<div ng-include="'/views/header.html'"></div>
  <section class="container" style="width: 96% !important;">
    <div class="row" style="margin-bottom:28px;">
      <div class="col-md-12 title"> About Us </div>
      <div class="col-md-12 question"> What is offercrunch.co.uk? </div>
      <div class="col-md-12 answer"> Offercrunch is a special offer aggregator. We look at the major retailers in the UK, find everything on offer and display it here for you. </div>
      <div class="col-md-12 question"> How often is offercrunch updated? </div>
      <div class="col-md-12 answer"> Offercrunch is updated daily - we are working on updating the site more frequently so check back soon. </div>
      <div class="col-md-12 question"> I have some feedback or query about the site </div>
      <div class="col-md-12 answer"> Please email us at <a href="mailto:info@offercrunch.co.uk">info@offercrunch.co.uk </a></div>
      <div class="col-md-12 question"> Why was the price different on the retailer's site? </div>
      <div class="col-md-12 answer"> On rare occasions the retailer will change the price before we have updated the site </div>
      <div class="col-md-12 question"> I have a problem with the product I bought, what should I do? </div>
      <div class="col-md-12 answer"> Please contact the retailer you bought the product from </div>
      <div class="col-md-12 question"> Are more product categories/retailers coming? </div>
      <div class="col-md-12 answer"> We are constantly adding extra retailers and have plans to add fashion offers soon</div>
    </div>
  </section>
<div ng-include="'/views/footer.html'"></div>
