<div ng-include="'/views/header.html'"></div>
<section class="container" style="width: 96% !important;">
<section data-ng-controller="FashionController">
  <div class="row">
    <div class="col-md-12 header_row">
      <div class="landing_title">
        Fashion
        <div class="tagline">
        Big Brands. Big Discounts.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 index_offer_box">
          <div class="row">
            <div class="col-md-6 index_offer_box_section">
              <div> Women's Fashion </div>
              <div class="row">
                <div class="col-md-6">
                  <ul class="section_list">
                    <!-- <li> 
                      <a ng-href="/offers/fashion/women/dresses" class="section_list_link"> Dresses </a>
                    </li> -->
                    <li> 
                      <a ng-href="/offers/fashion/women/tops" class="section_list_link"> Tops </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes" class="section_list_link"> Shoes </a>
                    </li>
                   <!--  <li> 
                      <a ng-href="/offers/fashion/women/accessories" class="section_list_link"> Accessories </a>
                    </li> -->
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="section_list">
                    <!-- <li> 
                      <a ng-href="/offers/fashion/women/jackets-coats" class="section_list_link"> Jackets & Coats  </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/bags" class="section_list_link"> Bags </a>
                    </li>
                     <li> 
                      <a ng-href="/offers/fashion/women/trousers" class="section_list_link"> Trousers & Jeans </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 index_offer_box_section">
              <div> Men's Fashion </div>
              <div class="row">
                <div class="col-md-6">
                  <ul class="section_list">
                    <li> 
                      <a ng-href="/offers/fashion/men/shoes" class="section_list_link"> Shoes </a>
                    </li>
                   <!--  <li> 
                      <a ng-href="/offers/fashion/men/jackets-coats" class="section_list_link"> Jackets & Coats </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/accessories" class="section_list_link"> Accessories </a>
                    </li> -->
                    <li> 
                      <a ng-href="/offers/fashion/men/shirts" class="section_list_link"> Shirts </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="section_list">
               <!--    <li> 
                    <a ng-href="/offers/fashion/men/knitwear" class="section_list_link"> Knitwear </a>
                  </li>
                    <li> 
                      <a ng-href="/offers/fashion/men/suits-blazers" class="section_list_link"> Suits & Blazers </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/men/tshirts-vests" class="section_list_link"> T Shirts & Vests </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/men/trousers" class="section_list_link"> Trousers & Jeans </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 index_offer_box_section">
              <div> Popular Women's Shoes </div>
              <div class="row">
                <div class="col-md-6">
                  <ul class="section_list">
                   <!--  <li> 
                      <a ng-href="/offers/fashion/women/shoes/calvin-klein" class="section_list_link"> Calvin Klein </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes/dkny" class="section_list_link"> DKNY </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes/kurt-geiger" class="section_list_link"> Kurt Geiger </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes/vivienne-westwood" class="section_list_link"> Vivienne Westwood </a>
                    </li> -->
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="section_list">
                 <!--  <li> 
                      <a ng-href="/offers/fashion/women/shoes/steve-madden" class="section_list_link"> Steve Madden </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes/ted-baker" class="section_list_link"> Ted Baker </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes/lacoste" class="section_list_link"> Lacoste </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/women/shoes/guess" class="section_list_link"> Guess </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 index_offer_box_section">
               <div> Popular Men's Shoe Brands </div>
              <div class="row">
                <div class="col-md-6">
                  <ul class="section_list">
                    <li> 
                      <a ng-href="/offers/fashion/men/shoes/asos" class="section_list_link"> Asos </a>
                    </li>
                    <!-- <li> 
                      <a ng-href="/offers/fashion/men/shoes/diesel" class="section_list_link"> Diesel </a>
                    </li> -->
                   <!--  <li> 
                      <a ng-href="/offers/fashion/men/shoes/hugo-boss" class="section_list_link"> Hugo Boss </a>
                    </li> -->
                   <!--  <li> 
                      <a ng-href="/offers/fashion/men/shoes/nike" class="section_list_link"> Nike </a>
                    </li> -->
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="section_list">
                  <!-- <li> 
                      <a ng-href="/offers/fashion/men/shoes/paul-smith" class="section_list_link"> Paul Smith </a>
                    </li> -->
                    <!-- <li> 
                      <a ng-href="/offers/fashion/men/shoes/ted-baker" class="section_list_link"> Ted Baker </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/men/shoes/vans" class="section_list_link"> Vans </a>
                    </li>
                    <li> 
                      <a ng-href="/offers/fashion/men/shoes/lacoste" class="section_list_link"> Lacoste </a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</section>
<div class="background_image">
  <img src="../img/background.jpg">
</div>
<div ng-include="'/views/footer.html'"></div>