<div class="intro navbar navbar-inverse navbar-static-bottom" style="margin-bottom: 0px !important;border-radius:0px !important; background:rgba(0,0,0,0.6) !important;border:none;padding:20px;">
  <div style="padding-left:10px;font-family:sans-serif;padding-top:10px;color:#fff;">Queries? Feedback? Email Us at: <a>info@offercrunch.co.uk</a> </div>
  <div style="padding-left:10px;font-family:sans-serif;padding-top:5px;color:#fff;">Follow Us on Facebook: <a>Offercrunch</a></div>
  <div style="padding-left:10px;font-family:sans-serif;padding-top:5px;color:#fff;">Follow Us on Twitter: <a>@offercrunch</a></div>
  <div style="padding-left:10px;font-family:sans-serif;padding-top:5px;padding-bottom:5px;color:#fff;">Copyright 2014 offercrunch.co.uk</div>
</div>
