<div class="intro navbar navbar-inverse navbar-static-bottom footer_section" style="height:100px;">
  <facebook-plugin></facebook-plugin>
  <div class="footer_row_first hidden-xs" style="text-align:right;position:absolute;top:15px;right:10px;">Queries? Feedback? Email Us at: <a rel="nofollow" ng-href="mailto:info@offercrunch.co.uk">info@offercrunch.co.uk</a></div>
<!--   <div class="footer_row">Follow Us on Facebook: <a>Offercrunch</a></div>
 -->  <div class="footer_row_bottom" style="text-align:right;position:absolute;top:42px;right:10px;">&copy 2014 Breakpoint Labs</div>
</div>
<div class="message">
  <div class="message-text">
    Please upgrade your browser to ie9+, chrome, safari or firefox to use this site.
  </div>
</div>