<div data-ng-controller="HeaderController">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:#00b0ff;letter-spacing:0.05em" href="/"> offercrunch.co.uk </a>
    </div>
    <div class="navbar-collapse collapse" style="height:1px;">
      <ul class="nav navbar-nav">
        <li><a ng-href="/offers/television" class="header_link"> TV Offers</a></li>
        <li><a ng-href="/offers/laptop" class="header_link"> Laptop Offers</a></li>
        <li><a ng-href="/offers/tablet" class="header_link"> Tablet Offers</a></li>
        <li><a ng-href="/offers/camera" class="header_link"> Camera Offers</a></li>
        <li><a ng-href="/offers/fashion" class="header_link"> Fashion Offers</a></li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
          <li class="hidden-xs"><a ng-href="http://www.facebook.com/offercrunch" target="_blank" style="padding:0;margin:0;"><img alt="Like Us on Facebook!" src="../img/icons/facebook2.png" style="width:28px;height:38px;padding-top:12px;"/></a></li>
          <li><a ng-href="/about" class="header_link" style="margin-right:20px;"> About Us </a></li>
       </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
