<div data-ng-controller="HeaderController">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="color:#00b0ff;letter-spacing:0.05em" href="/"> offercrunch.co.uk </a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li><a ng-href="/offers/television" style="color:#fff;letter-spacing:0.025em;"> TV Offers</a></li>
        <li><a ng-href="/offers/laptop" style="color:#fff;letter-spacing:0.025em;"> Laptop Offers</a></li>
        <li><a ng-href="/offers/tablet" style="color:#fff;letter-spacing:0.025em;"> Tablet Offers</a></li>
        <li><a ng-href="/offers/camera" style="color:#fff;letter-spacing:0.025em;"> Camera Offers</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
