<div ng-include="'/views/header.html'"></div>
<section class="container" style="width: 96% !important;height:600px;" data-ng-controller="OffersStaticController">
     <div style="font-family:Lato; font-size:40px; font-weight:300;color:#38d5b8;margin:0 auto;text-align:center;padding:10px;margin-bottom:20px;">
            What are you looking for?
     </div>
     <div class="row">
     <div class="col-md-12">
       <div style="font-family:Lato; font-size:40px; font-weight:300;color:#00b0ff;margin:0 auto;text-align:center;padding:10px;"><a ng-href="/offers/television"> Television Offers</a></div>
     </div>
     <div class="col-md-12">
       <div style="font-family:Lato; font-size:40px; font-weight:300;color:#00b0ff;margin:0 auto;text-align:center;padding:10px;"> <a ng-href="/offers/laptop"> Laptop Offers</a></div>
     </div>
     <div class="col-md-12">
       <div style="font-family:Lato; font-size:40px; font-weight:300;color:#00b0ff;margin:0 auto;text-align:center;padding:10px;"> <a ng-href="/offers/tablet"> Tablet Offers</a></div>
     </div>
     <div class="col-md-12">
       <div style="font-family:Lato; font-size:40px; font-weight:300;color:#00b0ff;margin:0 auto;text-align:center;padding:10px;"><a ng-href="/offers/camera"> Camera Offers</a></div>
     </div>
     </div>
  
</section>
<div class="background_image">
  <img src="../img/background.jpg">
</div>
<div ng-include="'/views/footer.html'"></div>
