.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.navbar{

}

.go_to_top{
  font-size:22px;
  margin-right:5%;
  margin-bottom:28px;
  color:#afafaf;
  font-family:Lato;
  text-align:right;
}

.go_to_top_text{
  border:1px solid #efefef; 
  padding:10px; 
  cursor:pointer;
}

.title{
  font-family:Lato;
  font-size:28px;
  color:#afafaf;
  font-weight:300;
  border-bottom:1px dashed #efefef;
  padding:5px;
}

.question{
  margin-top:15px;
  font-family:Lato;
  font-size:25px;
  color:#00b0ff;
  font-weight:300;
}

.answer{
  margin-top:10px;
  font-family:Lato;
  font-size:22px;
  color:#afafaf;
  font-weight:300;
}

.header_link{
  color:#fff !important;
  letter-spacing:0.025em;
}

.header_link:hover{
  color:#00b0ff !important;
  letter-spacing:0.025em;
}

.footer_section{
  margin-bottom: 0px !important;
  border-radius:0px !important; 
  background:rgba(0,0,0,0.6) !important;
  border:none;padding:20px;
}

.footer_row_first{
  padding-left:10px;
  font-family:sans-serif;
  padding-top:10px;
  color:#fff;
}

.footer_row_bottom{
  padding-left:10px;
  font-family:sans-serif;
  padding-top:5px;
  padding-bottom:5px;
  color:#fff;
}

.footer_row{
  padding-left:10px;
  font-family:sans-serif;
  padding-top:5px;
  color:#fff;
}

.content {
    margin-top:40px;
    width:100%;
    font-family:Lato;
}

.landing_title{
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
  font-family: Lato;
  color:#00b0ff;
  font-weight:300;
}

.landing_title .tagline{
  margin-top: 10px;
  font-size: 24px;
  color:#fff;
  font-family: Lato;
  font-weight: 300;
}

.selection_container{
  color:#fff;
  font-size:20px;
  font-family:Lato;
  font-weight:300;
  padding:10px;
}

.background_image{
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;  
}

.background_image img{
  position: absolute;
  top:0;
  left:0;
  right:0; 
  bottom:0;
  min-width: 100%;
  min-height: 100%;
}

.bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: black;
  z-index: 4000;
  opacity:0.9;
  font-family:Lato;
  font-weight:300;
}

.pop_up_selection_container{
  position:fixed; 
  top:10%; 
  left:20%;
  width:65%;
  background:#fff;
  text-align:center;
  font-family:Lato;
  padding-top:4%;
  padding-bottom:80px;
  opacity:1 !important;
  overflow:scroll;
  height:100%;
  border: 1px solid #00b0ff;
  border-radius: 5px;
}

.pop_up_title{
  font-size:24px;
  color:#343434;
  padding:15px;
  color:#00b0ff;
  margin-bottom:40px;
}

.pop_up_selection_item_title{
  font-size:24px;
  color:#343434;
  padding:15px;
}

.pop_up_selection_item_image{
  font-size:18px;
  color:#343434;
  padding:15px;
}

.pop_up_selection_button{
  font-size:18px;
  padding:15px;
  font-family:Lato;
  font-weight:300;
  background:#00b0ff;
  border-radius:5px;
  display: inline-block;
  width: 200px;
}

.pop_up_image_icon{
  height: 50px; 
  width: 50px;
}

.pop_up_image_icon_tv{
  height:50px; 
  width:50px;
  margin-top:-20px;
  /*padding-top:0px;
  margin-left:10px;*/
}

.pop_up_row{
  margin-bottom:40px;
}

.pop_up_offer_title{
  font-size:26px;
  padding:4px;
}

.browse_offers_link{
  color:#fff;
}

.index_offer_box{
  background: #efefef;
  margin-bottom: 200px;
  padding: 22px;
  border-radius: 5px;
  border:1px solid #00b0ff;
  margin-top:40px;
}

.index_offer_box_section{
  color:#00b0ff;
  font-size:16px; 
  text-transform:uppercase;
  font-weight:400;
  letter-spacing:0.1em;
  padding:10px;
  padding-left: 40px;
}

.index_offer_box_section .section_list{
  list-style:none;
  padding:0px;
  padding-top:5px;
  color:#58595b !important;
  text-transform:none;
  text-align:left;
  line-height:25px;
}

.index_offer_box_section .section_list .section_list_link{
  text-decoration:none;
  color:#58595b !important;
}
.index_offer_box_section .section_list .section_list_link:hover{
  text-decoration:none;
  color:#00b0ff !important;
}

.bg .loading-text{
  position: fixed;
  font-size:40px;
  font-weight:300;
  font-family:Lato;
  color:#00b0ff;
  top:40%;
  left:40%;
  z-index: 4;
}

.app_container{
  width:96% !important;
}

.header_row{
  text-align: center;
}

.close_tag{
  text-align:right; 
  padding-right:5%; 
  color:#00b0ff; 
  cursor:pointer;
}

.no_offers_message{
  margin: 14px;
  text-align: center;
  font-size: 28px;
  color:#00b0ff;
  margin-bottom: 100px;
}

.show-title{
  display:none;
}

.message{
  display: none;
}

.message .message-text{
  display: none;
}

.num_offers{
  font-family:Lato;
  font-weight:300;
  font-size:22px;
  color:#00b0ff;
  margin-bottom:20px;
  text-transform:capitalize;
}
.search_button_2{
  width:280px;
}

@media (max-width: 767px){
  .num_offers{
    font-size:16px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right: 20px;
  }

  .search_input{
    width:100%;
  }
  .search_button_2{
    width:100%;
  }
}

footer {
    background:#343434;
}