.offer_holder{
  border-radius: 4px;
  margin-bottom: 40px;
  max-width: 500px;
}

.offer_tagline{
  height:40px;
  background: rgba(0,0,0,0.6);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  text-transform: capitalize;
  color:#fff;
  letter-spacing: 0.025em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.offer_img_holder{
  text-align: center;
  padding: 10px;
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}

.offer_img{
  height: 150px;
  width: 150px;
}

.offer_info_holder{
  background: rgb(250, 250, 250);
  height: 420px;
  padding-top: 20px;
  border-left: 1px solid #efefef;
  border: 1px solid #efefef;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.offer_description{
  margin: 20px;
  margin-bottom:14px;
  margin-top:0px;
  border: 1px dashed #afafaf;
  padding: 5px;
  padding-top: 12px;
  height: 120px; 
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  color:#343434;
  font-family: sans-serif;
  font-weight: bold;
}

.offer_price{
 text-align: center;
 font-size: 28px;
 font-weight: 300;
 color:#00b0ff;
 font-family: sans-serif;
}

.original_price{
 text-align: center;
 font-size: 16px;
 font-weight: 300;
 color:#afafaf;
 font-family: sans-serif;
}

.pct_savings{
 text-align: center;
 font-size: 18px;
 font-weight: 300;
 color:#afafaf;
 font-family: sans-serif;
}
.retailer{
 text-transform: capitalize;
 text-align: center;
 font-size: 20px;
 font-weight: 400;
 color:#afafaf;
 margin-top: 5px;
 margin-bottom: 20px;
 font-family: sans-serif;
}

.indiv_offer_brand{
  text-transform:capitalize;
  font-size:28px;
  color:#afafaf;
}

.indiv_offer_description{
  border-top:1px solid #efefef; 
  border-bottom:1px solid #efefef; 
  margin-top:20px; 
  margin-bottom:20px; 
  padding-top:28px; 
  padding-bottom:28px; 
  font-size:22px; 
  margin: 0px auto;
  margin-top:28px;
  max-width: 80%;
  font-family:Lato; 
  font-weight:300;
}

.indiv_offer_valid{
  font-family:Lato; 
  font-size:22px;
  font-weight:300;
  padding:24px;
  padding-bottom:10px;
}

.indiv_offer_valid_text{
  color:#38d5b8;
  font-weight:600;
}

.indiv_offer_not_valid_text{
  color:#FF0000;
  font-weight:600;
}

.indiv_offer_img_holder{
  padding:28px;
  padding-top:10px;
}

.indiv_offer_img{
  width:160px;
  height:160px;
}

.indiv_offer_label{
  text-decoration:none; 
  font-size:22px; 
  font-family: Lato; 
  width:220px;
  margin:0px auto;
  padding:10px; 
}

.indiv_go_to_offer{
  border: 4px solid #38d5b8;
}

.indiv_go_to_offer:hover{
  border: 4px dashed #38d5b8;
  text-decoration: none;
}


.indiv_go_to_offer_text{
  text-decoration:none !important;
  color:#38d5b8 !important;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: capitalize;
}



.indiv_offer_price{
  font-size:25px; 
  border: 1px dashed #afafaf;
  color:#343434; 
  font-weight:300;
  margin-top:20px;
}

.indiv_original_price{
  border: 1px dashed #afafaf;
  color:#afafaf; 
  font-weight:300;
  margin-top:10px;
}

.indiv_saving{
  border: 1px dashed #afafaf;
  color:#afafaf; 
  font-weight:300;
  margin-top:10px;
}

.indiv_logo_holder{
  padding:20px;
  padding-bottom:0px;
}

.indiv_padding{
    padding:40px;
  }


@media (max-width: 767px){
  .indiv_padding{
    padding:0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  /** no max-width for mobile **/
  .offer_holder{
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: none;
  }
  .indiv_offer_img{
  width:110px;
  height:110px;
}
  .indiv_go_to_offer{
  border: 2px solid #38d5b8;
  width: 220px;
}
  .indiv_go_to_offer_text{
  text-decoration:none !important;
  color:#38d5b8 !important;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: capitalize;
  font-size: 20px;
  padding-bottom: 15px;
  }
  .indiv_offer_description{

  font-size:20px; 

  }
  .indiv_offer_brand{
  text-transform:capitalize;
  font-size:20px;
  color:#afafaf;
}

/*.indiv_offer_label{
  text-decoration:none; 
  font-size:20px; 
  font-family: Lato; 
  width:220px;
  margin:0px auto;
  padding:10px; 
}*/

}