<div ng-include="'/views/header.html'"></div>
<section class="container" style="width: 96% !important;">
<section data-ng-controller="OffersController" data-ng-init="findOne()" style="margin-bottom:60px;">
	<div class="row" style="margin-top:14px;">
      <div class="col-sm-12 col-md-8 col-md-offset-2" style="border:1px solid #efefef;padding:40px;">
        <div style="text-align:center">
          <div ng-if="isLoaded">
            <offer offer="offer" view-type="individual"></offer>
          </div>
        </div>
      </div>
  </div>
</section>
<section data-ng-controller="OffersController" data-ng-init="findRelated()" style="margin-bottom:100px;">
<div class="row">
    <div class="col-sm-12 col-md-12">
    <div style="margin-bottom:60px;font-family:Lato;font-size:28px;font-weight:400;color:#afafaf;text-align:center;"> Related Offers </div>
      <div data-ng-repeat="offer in offers | limitTo: showExtraItems">
        <div class="col-sm-4 col-md-4">
          <div ng-if="isLoaded">
            <offer offer="offer" view-type="list"></offer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div style="margin-bottom:10px;font-family:Lato;font-size:28px;font-weight:400;color:#afafaf;text-align:center;"><a ng-href="/" style="text-decoration:none;"> Browse All Offers</a></div>
  </div>
   <div ng-show="!isLoaded" ng-class="{bg:'!isLoaded'}">
     <span class="loading-text" style="text-transform:capitalize;">Loading {{offerType}} Offers...</span>
   </div>
</section>
</section>
<div ng-include="'/views/footer.html'"></div>